* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  padding-inline: 15px;
  margin-inline: auto;
}

@media (min-width: 567px) {
  .container {
    width: 550px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1150px;
  }
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h1 {
  margin-top: 20px;
  text-align: center;
  font-size: 3rem;
  color: #2b8ec7;
}
.description {
  font-size: 1.5rem;
  margin-block: 1.3rem;
  text-align: center;
}
.start-game {
  font-size: 20px;
}
.start-game strong {
  font-size: 1.2em;
  color: #d54f4f;
}
.start {
  display: block;
  width: -webkit-max-content;
  margin-inline: auto;
  margin-top: 2rem;
  font-size: 1.6rem;
  padding: 5px 30px;
  text-decoration: none;
  background-color: #eee;
  border-radius: 100vh;
  color: #0474b5;
  font-weight: bold;
}
.note {
  font-size: 1.2rem;
  margin-block: 1rem;
  font-weight: bold;
  color: #333;
}
form {
  width: 100%;
  max-width: 500px;
  margin: 50px auto 0 auto;
  display: flex;
  flex-direction: column;
}
form > input,
form select {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 1.1rem;
}
form .questions-limit {
  margin-top: -15px;
  margin-bottom: 10px;
}
form input[type="submit"] {
  cursor: pointer;
  transition: 0.3s;
  background-color: #06b306;
  color: white;
  font-weight: 500;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 1.3rem;
}
form input[type="submit"]:hover {
  background-color: #169f16;
}
